<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project.mapper.MenuMapper">
	<insert id="insert">
		INSERT INTO
        			MENU_INFO(R_ID, M_NAME, M_PRICE, M_CAT, M_INTRO, M_CODE, M_IMG)
		VALUES
        			(#{R_ID}, #{M_NAME}, #{M_PRICE}, #{M_CAT}, #{M_INTRO}, #{M_CODE}, #{M_IMG});
	</insert>
	<insert id="insertAdd">
		INSERT INTO
        			MENU_ADD(M_ID, A_NAME, A_PRICE) 
		VALUES
        			(#{M_ID}, #{A_NAME}, #{A_PRICE});
	</insert>
	
	<select id="getList" resultType="com.project.domain.MenuDTO">
		select
       			m_name, m_price, m_cat, m_intro, m_code, m_img
		from
       			menu_info
		where
       			r_id = #{r_id};
	</select>
	
	<select id="read" resultType="com.project.domain.MenuDTO">
		select
       			m_name, m_price, m_cat, m_code, m_img
		from
       			menu_info
		where
        		m_id = #{m_id};
	</select>
	
	<select id="getAddList" resultType="com.project.domain.MenuAddDTO">
		select 
       			a_name, a_price
		from
		        menu_add
		where
       			m_id = #{m_id};
	</select>
	
	<update id="update">
		UPDATE
		        menu_info
		SET
		        m_name= #{m_name}, m_price = #{m_price}, m_cat = #{m_cat}, m_intro = #{m_intro}, m_code = #{m_code}, m_img = #{m_img}
		WHERE
		        m_id = #{m_id};
	</update>
		
	<update id="updateAdd">
		UPDATE
		        menu_add
		SET
		        a_name = #{a_name}, a_price= #{a_price}
		WHERE
		        a_id = #{a_id};
	</update>
	
	<delete id="delete">
		DELETE
		        menu_info
		WHERE
		        m_id= #{m_id};
	</delete>
	
	<delete id="deleteAdd">
		DELETE
		        menu_add
		WHERE
		        m_id= #{m_id};
	</delete>
</mapper>